@charset "UTF-8";
/* line 17, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, .b-typography table caption, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 39, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 47, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 55, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 77, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media print {
  /* line 11, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 19, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 23, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 37, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 42, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 47, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 52, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 56, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 66, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  p,
  h2,
  h3,
  .b-typography table caption {
    orphans: 3;
    widows: 3;
  }

  /* line 72, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  h2,
  h3,
  .b-typography table caption {
    page-break-after: avoid;
  }
}
/* line 69, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 82, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 88, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
}

/* line 122, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 127, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 132, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h3, .b-typography table caption {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 137, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 142, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 147, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 153, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 159, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 163, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 168, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 173, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 180, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 188, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 195, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 202, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 208, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 214, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%;
}

/* line 220, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 227, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 231, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 285, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 296, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 301, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 310, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 323, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 333, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 347, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 355, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 364, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 374, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 384, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 390, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 397, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 268, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/* line 274, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 409, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 27, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* line 9, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 67, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 93, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 98, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 104, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

/* line 21, ../sass/screen.scss */
*, *:before, *:after, input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*FONT implementing*/
@font-face {
  font-family: fontName;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fontName.eot");
  src: url("../fonts/fontName.eot?#iefix") format("embedded-opentype"), url("../fonts/fontName.woff") format("woff"), url("../fonts/fontName.ttf") format("truetype");
}

/*VARIABLES------------------------*/
/*HELPERS--------------------------------------*/
/* line 61, ../sass/screen.scss */
.vCtr {
  display: table-cell;
  height: inherit;
  vertical-align: middle;
}

/* line 66, ../sass/screen.scss */
.pseudoBlockAbs, .b-nav--img .unit:before, .b-nav--img .unit__label:before, .b-footer:before, .b-template--feedbacks .unit__image:before {
  content: '';
  display: block;
  position: absolute;
}

/* line 71, ../sass/screen.scss */
.text-hide, .b-logo .name {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

/* line 76, ../sass/screen.scss */
.hList > * {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 78, ../sass/screen.scss */
.hList_top > * {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}

/* line 80, ../sass/screen.scss */
.jList, .jList_top, .b-template--feedbacks .content, .no-flexbox .fList, .b-header__content, .b-nav--img {
  text-align: justify;
  line-height: 0;
  font-size: 1px;
  text-justify: newspaper;
  zoom: 1;
  text-align-last: justify;
}
/* line 87, ../sass/screen.scss */
.jList:after, .jList_top:after, .b-template--feedbacks .content:after, .no-flexbox .fList:after, .b-header__content:after, .b-nav--img:after {
  content: "";
  display: inline-block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 100%;
}
/* line 95, ../sass/screen.scss */
.jList > *, .jList_top > *, .b-template--feedbacks .content > *, .no-flexbox .fList > *, .b-header__content > *, .b-nav--img > * {
  text-align: left;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 1.4;
  font-size: 14px;
}

/* line 104, ../sass/screen.scss */
.jList_top > *, .b-template--feedbacks .content > * {
  vertical-align: top;
}

/* line 107, ../sass/screen.scss */
.flexbox .fList {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  box-pack: justify;
}
/* line 110, ../sass/screen.scss */
.flexbox .fList > * {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}

/* line 114, ../sass/screen.scss */
.pageWidth {
  width: 960px;
  min-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 123, ../sass/screen.scss */
:root .gradient, :root .ie9-gradient-support, :root .b-footer {
  filter: none \0/IE9;
}

/*DEFAULT STYLES
--------------------------------------------*/
/* line 160, ../sass/screen.scss */
html, button, input, select, textarea {
  height: 100%;
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  color: #6b6966;
}

/* line 165, ../sass/screen.scss */
h1, h2, h3, .b-typography table caption, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 173, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 174, ../sass/screen.scss */
a {
  color: #5f9fda;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 18, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #5f9fda;
}
/* line 21, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #5a9f25;
}
/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #5a9f25;
}
/* line 27, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #5a9f25;
}
/* line 177, ../sass/screen.scss */
a:focus {
  outline: thin dotted;
}
/* line 178, ../sass/screen.scss */
a:active, a:hover {
  outline: none;
}

/* line 180, ../sass/screen.scss */
input, textarea {
  height: 40px;
  line-height: 1;
  padding: 0 13.33333px;
}

/* line 185, ../sass/screen.scss */
textarea {
  min-height: 160px;
  line-height: 1.2;
  padding-top: 13.33333px;
}

/* line 190, ../sass/screen.scss */
button {
  border: none;
  background-color: transparent;
}

/* line 194, ../sass/screen.scss */
fieldset {
  border: none;
}

/* line 196, ../sass/screen.scss */
input[type=radio],
input[type=checkbox] {
  width: 13px;
  height: 13px;
  padding: 0;
}

/* line 10, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.b-stickyFooter_helper-1 {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -95px;
}
/* line 18, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.b-stickyFooter_helper-1 .b-stickyFooter_helper-2 {
  height: 95px;
}

/* line 20, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.b-footer {
  clear: both;
  position: relative;
  height: 95px;
}

/* line 199, ../sass/screen.scss */
.b-typography {
  margin: 10px 0;
}
/* line 201, ../sass/screen.scss */
.b-typography p {
  margin-bottom: 10px;
}
/* line 202, ../sass/screen.scss */
.b-typography ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 10px;
}
/* line 206, ../sass/screen.scss */
.b-typography ul li {
  margin-bottom: 7px;
}
/* line 208, ../sass/screen.scss */
.b-typography ol {
  margin-bottom: 10px;
  list-style-type: decimal;
}
/* line 212, ../sass/screen.scss */
.b-typography h1, .b-typography h2, .b-typography h3, .b-typography table caption, .b-typography h4, .b-typography h5, .b-typography h6 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #201600;
}
/* line 213, ../sass/screen.scss */
.b-typography h1 {
  font-size: 24px;
  padding: 5px 0;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 15px;
}
/* line 219, ../sass/screen.scss */
.b-typography h2 {
  font-size: 1.7em;
}
/* line 220, ../sass/screen.scss */
.b-typography h3, .b-typography table caption {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 221, ../sass/screen.scss */
.b-typography h4 {
  font-size: 0.9em;
}
/* line 222, ../sass/screen.scss */
.b-typography h5 {
  font-size: 0.8em;
}
/* line 223, ../sass/screen.scss */
.b-typography h6 {
  font-size: 0.7em;
}
/* line 224, ../sass/screen.scss */
.b-typography table {
  clear: both;
  width: 100%;
  margin: 20px 0;
}
/* line 229, ../sass/screen.scss */
.b-typography table th {
  background-color: #5a9f25;
  color: white;
  padding: 10px;
  font-size: 16px;
}
/* line 235, ../sass/screen.scss */
.b-typography table td {
  border: 1px solid #c9c8c8;
  padding: 5px 10px;
}
/* line 239, ../sass/screen.scss */
.b-typography table ul {
  list-style-position: outside;
  padding-left: 15px;
}
/* line 244, ../sass/screen.scss */
.b-typography figure {
  text-align: center;
}
/* line 247, ../sass/screen.scss */
.b-typography figcaption {
  font-family: Arial,sans-serif;
  color: #201600;
  font-style: italic;
}

/*OBJECTS-------------------------------*/
/*LAYOUT---------------------------------*/
/* line 257, ../sass/screen.scss */
body {
  height: 100%;
  font-size: 14px;
  line-height: 1.4;
  border-top: 2px solid #5a9f25;
  background-image: url(data:image/jpg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAABkAAD/7gAOQWRvYmUAZMAAAAAB/9sAhAABAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAgICAgICAgICAgIDAwMDAwMDAwMDAQEBAQEBAQIBAQICAgECAgMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwP/wAARCAADAAMDAREAAhEBAxEB/8QAUwABAAAAAAAAAAAAAAAAAAAACgEBAAAAAAAAAAAAAAAAAAAAABAAAgAHAQAAAAAAAAAAAAAAExQAI2NEhJQVZREBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AfXIBejd9E5+jspM469CA/9k=);
}
/* line 263, ../sass/screen.scss */
.ie87 body {
  background-image: url("../images/convertedToData/body-bg.jpg");
}

/*header*/
/* line 266, ../sass/screen.scss */
.b-header {
  position: relative;
  padding: 10px 0;
}

/* line 270, ../sass/screen.scss */
.b-header__flash {
  height: 220px;
}

/* line 273, ../sass/screen.scss */
.b-header__content {
  padding: 15px 0;
}

/* line 277, ../sass/screen.scss */
.b-logo {
  text-decoration: none;
}
/* line 279, ../sass/screen.scss */
.b-logo .name {
  position: absolute;
}

/* line 281, ../sass/screen.scss */
.b-header__address {
  font: 14px/1.5 Tahoma, Verdana, Segoe, sans-serif;
  text-transform: uppercase;
  color: #201600;
}

/* line 287, ../sass/screen.scss */
.b-nav--text {
  margin: 0 20px;
  text-transform: uppercase;
  font: 16px Tahoma, Verdana, Segoe, sans-serif;
}
/* line 291, ../sass/screen.scss */
.b-nav--text .unit {
  color: #5a9f25;
  text-decoration: none;
  border-bottom: 1px dashed #5a9f25;
  position: relative;
  margin: 5px 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 18, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--text .unit:visited {
  color: #5a9f25;
}
/* line 21, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--text .unit:focus {
  color: #201600;
}
/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--text .unit:hover {
  color: #201600;
}
/* line 27, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--text .unit:active {
  color: #5a9f25;
}
/* line 144, ../sass/screen.scss */
.b-nav--text .unit:hover, .b-nav--text .unit:focus {
  border-bottom-color: #201600;
}
/* line 296, ../sass/screen.scss */
.b-nav--text .unit:hover, .b-nav--text .unit:focus {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}
/* line 297, ../sass/screen.scss */
.b-nav--text .unit.active {
  border-bottom: none;
  color: #201600;
}
/* line 18, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--text .unit.active:visited {
  color: #201600;
}
/* line 21, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--text .unit.active:focus {
  color: #201600;
}
/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--text .unit.active:hover {
  color: #201600;
}
/* line 27, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--text .unit.active:active {
  color: #201600;
}
/* line 300, ../sass/screen.scss */
.b-nav--text .unit.active:hover, .b-nav--text .unit.active:focus {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
/* line 302, ../sass/screen.scss */
.b-nav--text .unit:before {
  content: '»';
  color: #201600;
  font-size: 13px;
  line-height: 20px;
  position: absolute;
  left: -13px;
}

/* line 312, ../sass/screen.scss */
.b-nav--img {
  font: 18px Tahoma, Verdana, Segoe, sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 316, ../sass/screen.scss */
.b-nav--img img {
  display: block;
  -webkit-border-radius: 0 20px 0 20px;
  -moz-border-radius: 0 20px 0 20px;
  -ms-border-radius: 0 20px 0 20px;
  -o-border-radius: 0 20px 0 20px;
  border-radius: 0 20px 0 20px;
}
/* line 320, ../sass/screen.scss */
.b-nav--img .unit {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  overflow: hidden;
  color: white;
  width: 290px;
  height: 135px;
  border: 1px solid #5f9fda;
  text-decoration: none;
  -webkit-border-radius: 0 15px 0 15px;
  -moz-border-radius: 0 15px 0 15px;
  -ms-border-radius: 0 15px 0 15px;
  -o-border-radius: 0 15px 0 15px;
  border-radius: 0 15px 0 15px;
  position: relative;
}
/* line 18, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--img .unit:visited {
  color: white;
}
/* line 21, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--img .unit:focus {
  color: white;
}
/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--img .unit:hover {
  color: white;
}
/* line 27, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--img .unit:active {
  color: white;
}
/* line 330, ../sass/screen.scss */
.b-nav--img .unit:before {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0 15px 0 15px;
  -moz-border-radius: 0 15px 0 15px;
  -ms-border-radius: 0 15px 0 15px;
  -o-border-radius: 0 15px 0 15px;
  border-radius: 0 15px 0 15px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 340, ../sass/screen.scss */
.b-nav--img .unit:hover:before, .b-nav--img .unit:focus:before {
  background-color: transparent;
}
/* line 343, ../sass/screen.scss */
.b-nav--img .unit__label {
  color: white;
  padding: 0 50px 0 20px;
  height: 40px;
  width: 100%;
  line-height: 40px;
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 0 0 0 15px;
  -moz-border-radius: 0 0 0 15px;
  -ms-border-radius: 0 0 0 15px;
  -o-border-radius: 0 0 0 15px;
  border-radius: 0 0 0 15px;
  color: white;
}
/* line 18, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--img .unit__label:visited {
  color: white;
}
/* line 21, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--img .unit__label:focus {
  color: white;
}
/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--img .unit__label:hover {
  color: white;
}
/* line 27, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--img .unit__label:active {
  color: white;
}
/* line 357, ../sass/screen.scss */
.b-nav--img .unit__label:before {
  top: 50%;
  margin-top: -11px;
  right: 20px;
  width: 23px;
  height: 23px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUtJREFUeNq0VTFug0AQPGzFHaKhyAv4BC2JBCEv4RFU+YJJQgp4A0hOi2jo7CKmQxQ8ILhBokCXtbUXWUhwhw0rDeiOZXZ1N7tLyLCtAAZgC9gDfgEU33vcN9BvktmAI5LxcER/rm0A74KkfXzg/4PEuxuJGXZDAT7vJGbw+8QvMxEz2Neq+JmZPGcqMsYcZVmmaZrSoiholmVUURTRAE8E9TrqqOs6bduWni2KIipJkgj5dg2PN8DjmD6rqiJ1XRPLsoimaQRikCRJeLJ+IFeVx0UYhpfsu66jpmny/Gsy5aJUVaVN01wClGUpcjzimQdB8J85HJFQ5gcRYsdxKDPXdUWSOTc34k1RSxzHomrxltT5M6vQfKkKZf17TvLXvuj9mYi/lurn37yB4d+R8UZ0huYTLs+eOqRX2DY9LLQTkp1w7eH3wen/J8AAKE/W5z7fNw4AAAAASUVORK5CYII=);
}
/* line 365, ../sass/screen.scss */
.ie8 .b-nav--img .unit__label:before {
  background-image: url("../images/convertedToData/marker.png");
}

/* line 369, ../sass/screen.scss */
.b-nav--main {
  font-size: 16px;
  text-transform: uppercase;
}
/* line 374, ../sass/screen.scss */
.b-nav--main .help-trigger:hover .help-expanded, .b-nav--main .help-trigger:focus .help-expanded {
  position: static;
}
/* line 379, ../sass/screen.scss */
.b-nav--main .help-trigger:hover > a, .b-nav--main .help-trigger:focus > a {
  text-decoration: none;
}
/* line 382, ../sass/screen.scss */
.b-nav--main .help-expanded {
  position: absolute;
  left: -9999px;
}
/* line 386, ../sass/screen.scss */
.b-nav--main a {
  color: #6b6966;
  display: block;
  text-decoration: underline;
  padding: 2px 0;
}
/* line 18, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main a:visited {
  color: #6b6966;
}
/* line 21, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main a:focus {
  color: #6b6966;
}
/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main a:hover {
  color: #6b6966;
}
/* line 27, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main a:active {
  color: #6b6966;
}
/* line 390, ../sass/screen.scss */
.b-nav--main a:hover, .b-nav--main a:focus {
  text-decoration: none;
}
/* line 393, ../sass/screen.scss */
.b-nav--main .title {
  font-size: 18px;
  color: #201600;
}
/* line 394, ../sass/screen.scss */
.b-nav--main .level-1 {
  margin-bottom: 20px;
}
/* line 397, ../sass/screen.scss */
.b-nav--main .level-1__unit {
  padding-left: 10px;
}
/* line 400, ../sass/screen.scss */
.b-nav--main .level-1__unit.active > a {
  text-decoration: none;
  color: #5a9f25;
}
/* line 18, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main .level-1__unit.active > a:visited {
  color: #5a9f25;
}
/* line 21, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main .level-1__unit.active > a:focus {
  color: #5a9f25;
}
/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main .level-1__unit.active > a:hover {
  color: #5a9f25;
}
/* line 27, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main .level-1__unit.active > a:active {
  color: #5a9f25;
}
/* line 402, ../sass/screen.scss */
.b-nav--main .level-2 {
  padding-left: 15px;
}
/* line 408, ../sass/screen.scss */
.b-nav--main .level-2__unit.active > a {
  text-decoration: none;
  color: #5a9f25;
}
/* line 18, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main .level-2__unit.active > a:visited {
  color: #5a9f25;
}
/* line 21, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main .level-2__unit.active > a:focus {
  color: #5a9f25;
}
/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main .level-2__unit.active > a:hover {
  color: #5a9f25;
}
/* line 27, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main .level-2__unit.active > a:active {
  color: #5a9f25;
}
/* line 410, ../sass/screen.scss */
.b-nav--main .level-3 {
  text-transform: none;
  padding: 0 15px 10px;
}
/* line 416, ../sass/screen.scss */
.b-nav--main .level-3__unit > a {
  color: #6b6966;
  text-decoration: none;
}
/* line 18, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main .level-3__unit > a:visited {
  color: #6b6966;
}
/* line 21, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main .level-3__unit > a:focus {
  color: #5a9f25;
}
/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main .level-3__unit > a:hover {
  color: #5a9f25;
}
/* line 27, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main .level-3__unit > a:active {
  color: #6b6966;
}
/* line 420, ../sass/screen.scss */
.b-nav--main .level-3__unit.active > a {
  color: #5a9f25;
}
/* line 18, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main .level-3__unit.active > a:visited {
  color: #5a9f25;
}
/* line 21, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main .level-3__unit.active > a:focus {
  color: #5a9f25;
}
/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main .level-3__unit.active > a:hover {
  color: #5a9f25;
}
/* line 27, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.b-nav--main .level-3__unit.active > a:active {
  color: #5a9f25;
}

/*footer*/
/* line 425, ../sass/screen.scss */
.b-footer {
  position: relative;
  background-color: #ffffff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF1F1F1');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMjIlIiBzdG9wLWNvbG9yPSIjZmRmZGZkIi8+PHN0b3Agb2Zmc2V0PSI4NyUiIHN0b3AtY29sb3I9IiNmMGYwZjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYxZjEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(22%, #fdfdfd), color-stop(87%, #f0f0f0), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #fdfdfd 22%, #f0f0f0 87%, #f1f1f1 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #fdfdfd 22%, #f0f0f0 87%, #f1f1f1 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #fdfdfd 22%, #f0f0f0 87%, #f1f1f1 100%);
  background-image: linear-gradient(top, #ffffff 0%, #fdfdfd 22%, #f0f0f0 87%, #f1f1f1 100%);
  border-bottom: 2px solid #5a9f25;
  padding-top: 30px;
}
/* line 433, ../sass/screen.scss */
.ie7 .b-footer {
  border-top: 3px solid #c9c8c8;
}
/* line 434, ../sass/screen.scss */
.b-footer:before {
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  background-image: url(data:image/jpg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAADAAUDAREAAhEBAxEB/8QAVAABAAAAAAAAAAAAAAAAAAAACAEBAAAAAAAAAAAAAAAAAAAAABAAAAQHAAAAAAAAAAAAAAAAAAITFAERIRKCM1MRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AEFBu4Nsscl7pzrkoA//2Q==);
}
/* line 441, ../sass/screen.scss */
.ie8 .b-footer:before {
  background-image: url("../images/convertedToData/ftr-border.jpg");
}

/* line 444, ../sass/screen.scss */
.b-copy {
  font-size: 11px;
  line-height: 16px;
  color: #939392;
}
/* line 448, ../sass/screen.scss */
.b-copy a {
  text-decoration: none;
}

/*template*/
/* line 453, ../sass/screen.scss */
.b-template__aside {
  width: 300px;
  padding: 0 5px;
}

/* line 457, ../sass/screen.scss */
.b-template__main {
  width: 640px;
  padding: 0 10px;
}

/*INDEX page-----------------------*/
/*PRODUCT page------------------------*/
/* line 466, ../sass/screen.scss */
.b-template--product {
  padding-bottom: 30px;
}
/* line 467, ../sass/screen.scss */
.b-template--product .title {
  font-size: 18px;
  color: #201600;
  font-weight: bold;
}

/*FEEDBACKS page -------------------*/
/* line 476, ../sass/screen.scss */
.b-template--feedbacks .title {
  font-size: 24px;
  color: #201600;
  padding-bottom: 5px;
  border-bottom: 1px solid #e2e2e2;
}
/* line 482, ../sass/screen.scss */
.b-template--feedbacks .content {
  padding: 15px 0;
}
/* line 486, ../sass/screen.scss */
.b-template--feedbacks .unit {
  width: 190px;
  margin-bottom: 25px;
}
/* line 490, ../sass/screen.scss */
.b-template--feedbacks .unit__image {
  display: block;
  position: relative;
  margin-bottom: 4px;
  width: 100%;
  height: 235px;
  border: 1px solid #afafaf;
}
/* line 497, ../sass/screen.scss */
.b-template--feedbacks .unit__image:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhVJREFUeNqMkT9oU1EUxr9385KY2PBoTFOor9TqEDM4iV0UAhklk4PQzVHpqA46OrlLJjcXwaEOZlBBsaAWasRBEtuCaZK2aWqjzb/38t7997zvNeokeriHc+Ge3/0O39He1Dg0gEgpi1x4BSHEDBcSjIsW56LEmFga2o5817sJPxob29BVJULI10bUy03GNegkBHghOFw3tzvO9eaBm1U9eZUS49AVUDSiMpeeIBi4Ag7zIDwgTIBTUzE8a9/JWW5fqF5HZcyHiBqhkIxpAWBTD1wqSFGWuv8YCQzsLvJTGYws59heY/9ISc0+EyIkAIQC1Anqk63bGFiHmA5PqA9tnAjH0UVPveKQUMaDxkBB/qm9/ndcTM3DjBvoj4Y4aSRw4fScrzipU8pbDpOmTjTYXP5WCrHjKFU/IRmJwUwaqDR20Nw9AHWY4yuV6vs2ElGCSEg7GlEpXTv/APcuP0Wt1Q6U6s1vuOspe5UZxKV8aas9XKk0uggrt9MJHWlDR4R4WKu2IV0dK2vriLrctzxzi0loD1/tYGi5hHFeVIssUGUMZ8Jf7l5qVKF54/O8mV1Aa+MDNssvO4w5l8h4X/4vN1TOqgyN0zzXeXR298vq8tfyC6RnM5jLLqQoHb39Bf0tqOvai/Xq6vJ6+TnS5hlQ6qZ0/DsUOFqsVd4/bmx+vMK5e/9/oABkzL3qONa0pmmtnwIMAFiyNpLf/xnVAAAAAElFTkSuQmCC);
  width: 13px;
  height: 14px;
  right: 13px;
  bottom: 13px;
}
/* line 504, ../sass/screen.scss */
.ie8 .b-template--feedbacks .unit__image:before {
  background-image: url("../images/convertedToData/zoom.png");
}
/* line 506, ../sass/screen.scss */
.b-template--feedbacks .unit__image > img {
  width: 100%;
  height: 100%;
}
/* line 508, ../sass/screen.scss */
.b-template--feedbacks .unit__label {
  font-family: Arial, sans-serif;
}
/* line 510, ../sass/screen.scss */
.b-template--feedbacks .unit__label:before {
  content: 'от:';
  font-weight: bold;
  margin-right: 5px;
  color: #201600;
}

/*PLUGINS styles -------------------*/
/*LightBox*/
/* line 521, ../sass/screen.scss */
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}

/* line 531, ../sass/screen.scss */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}

/* line 541, ../sass/screen.scss */
#lightbox img {
  width: auto;
  height: auto;
}

/* line 545, ../sass/screen.scss */
#lightbox a img {
  border: none;
}

/* line 548, ../sass/screen.scss */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 561, ../sass/screen.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 566, ../sass/screen.scss */
.lb-container {
  padding: 10px;
}

/* line 569, ../sass/screen.scss */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 578, ../sass/screen.scss */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 586, ../sass/screen.scss */
.lb-container > .nav {
  left: 0;
}

/* line 589, ../sass/screen.scss */
.lb-nav a {
  outline: none;
}

/* line 592, ../sass/screen.scss */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  -webkit-transition: none 1s;
  -moz-transition: none 1s;
  -o-transition: none 1s;
  transition: none 1s;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 601, ../sass/screen.scss */
.lb-prev {
  left: 0;
  float: left;
}

/* line 605, ../sass/screen.scss */
.lb-next {
  right: 0;
  float: right;
}

/* line 609, ../sass/screen.scss */
.lb-prev:hover {
  background: url(../images/prev.png) left 48% no-repeat;
}

/* line 612, ../sass/screen.scss */
.lb-next:hover {
  background: url(../images/next.png) right 48% no-repeat;
}

/* line 615, ../sass/screen.scss */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 631, ../sass/screen.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 636, ../sass/screen.scss */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}

/* line 640, ../sass/screen.scss */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

/* line 646, ../sass/screen.scss */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

/* line 651, ../sass/screen.scss */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}

/* line 657, ../sass/screen.scss */
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}

/* line 663, ../sass/screen.scss */
.lb-data .lb-close:hover {
  cursor: pointer;
}

@-moz-document url-prefix() {}
